@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  /* background-color: #3a5a40; */
}

h1 {
  font-size: 100px;
  margin: 0px;
  position: relative;
  text-align: center;
}