@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Any CSS rules that can be applied using Bulma are commented out */

:root {
  --hue-darkgreen: #1b4332;
  --hue-green: #2d6a4f;
  --hue-lightgreen: #74c69d;
  --hue-gray: #212529;
  --hue-white: #fff;
}

body {
  /* margin: 0px; */
  /* padding: 0px; */
  font-family: 'Poppins', sans-serif;
  background-image: url(../0_SIQR0gXIKTrqauBN.gif);
  background-repeat: no-repeat;
  background-size: cover;

}

header {
  /* display: flex;
  justify-content: space-between; */
  /* margin: 0 auto; */
  /* text-transform: uppercase; */
  width: 100%;
  height: 9.375rem;
  background-color: var(--hue-gray);
}

nav {
  width: 21.875rem;
}

.logo {
  float: left;
  /* position: relative; */
  top: 0.469rem;
  margin-left: 0.625rem;
  /* display: inline-block; */
  height: 8.438rem;
  width: 8.438rem;
  border-radius: 4.688rem;
}

h1 {
  /* display: inline-block; */
  font-size: 5rem;
  width: 50rem;
  height: 9.375rem;
  /* position: relative; */
  top: 0.625rem;
  left: 5rem;
  /* margin: auto; */
  /* text-align: center; */
  color: var(--hue-white);
}

h2 {
  /* text-align: center; */
  color: var(--hue-white);
  font-size: 2.188rem;
}

h3 {
  color: var(--hue-green);
  font-size: 1.563rem;
  /* font-weight: bold; */
}

/* ul li {
  list-style: none;
  margin-left: 20px;
  font-size: 30px; */
  /* display: inline; */
  /* text-align: center; */
  /* font-weight: bold; */
/* } */

/* ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: var(--hue-green);
  border-radius: 20px; */
  /* position: relative; */
  /* top: 30px;
  right: 10px;
} */

header ul li a:hover,
header ul li a.active {
  background: var(--hue-green);
  color: var(--hue-white);
}

.search-box {
  background-color: var(--hue-gray);
  /* display: inline-block; */
  width: 40%;
  height: 46.875rem;
  margin: 0.078rem;
  box-shadow: 0 0 0.625rem #000;
  padding-left: 1.875rem;
  border-radius: 3.125rem;
}

.search {
  height: 5rem;
}

.saved {
  /* text-align: center; */
  /* position: relative; */
  /* margin: 0px; */
  width: 90%;
  height: 18.75rem;
  background-color: var(--hue-green);
  border-radius: 1.25rem;
  left: 1.25rem;
  bottom: -2.5rem;
}

.wiki-tumblr {
  background-color: var(--hue-gray);
  position: absolute;
  /* display: inline-block; */
  width: 40%;
  height: 46.875rem;
  margin: 1.25rem;
  box-shadow: 0 0 0.625rem #000;
  padding-left: 1.875rem;
  border-radius: 3.125rem;
  left: 67.5rem;
}